@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'psp';
  src: url('~/assets/font/PressStart2P-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Fredoka One';
  src: url('~/assets/font/FredokaOne-Regular.ttf') format('truetype');	
}


